.shop-section {
  padding: 0 80px;
}

.breadcrumbs {
  border-bottom: 1px solid #eaeaea;
}

.breadcrumbs__list {
  padding: 17px 0 4px 0;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  list-style: none;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs li+li::before {
  padding: 8px;
  content: "\f105";
  font-size: 12px;
  font-family: FontAwesome;
}

.breadcrumbs li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 10px;
  line-height: 19px;
  font-weight: bold;
  font-family: Poppins;
  color: var(--color-text);
  text-transform: capitalize;
  transition: color 0.24s linear;
}

@media (hover: hover) {
  .breadcrumbs li a:hover {
    color: var(--primary-color);
  }
}
.shop-main-content{
  padding-left: 25px;
  margin-top: 35px;
}
.shop-main-content{
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: none;
}


/* ////////////////////////////// */

.shop-main-content-items-cardcont {
  box-sizing: border-box;
  transition: all .2s linear;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 2px;
}

.shop-cart {
  height: 300px;
  width: 195px;
  border: none;
  position: relative;
  border: none !important;
  /* box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176); */
}

.shop-cart:hover img {
  box-shadow: 0px 16px 48px 0px rgba(155, 154, 154, 0.176);
  /* box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15); */
}

.shop-cart img {
  width: 100%;
  height: 195px;
  object-fit: cover;
  cursor: pointer;
}

.shop-cart .info .hrt {
  position: absolute;
  font-size: 18px;
  top: 68.5%;
  right: 0%;
  color: #737373;
  text-decoration: none;
}

.shop-cart .info {
  margin-top: 12px;
}

.shop-cart .info .hrt:hover {
  color: black;
}

.shop-cart .info h3 {
  color: #444444;
  font-size: 16px;
  margin-top: 6px;
  letter-spacing: 0.5px;
  font-weight: normal;
}

.shop-cart .discount {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 22px;
  width: 60px;
  display: block;
  background-color: #e27c7c;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  font-size: 11.5px;
  line-height: 23px;
  letter-spacing: 1px;
}

.shop-cart .panel{
  position: absolute;
  right: -22px !important;
  top: 5px;
  width: 110px;
  height: 44px;
  display: flex;
  align-items: center;
  opacity: 0;
}

.shop-cart:hover .panel {
  opacity: 1;
}

.shop-cart .panel a {
  background-color: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  border: 1.5px solid #e7e7e7;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 15px;
  margin: 18px 9px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-cart .panel a:hover {
  color: white;
  border: none;
  background-color: #606da6;
}

.shop-cart button {
  position: absolute;
  left: 50%;
  border: none;
  font-size: 13px;
  color: white;
  bottom: 33%;
  opacity: 0;
  height: 0px;
  width: 100%;
  transform: translateX(-50%);
  transition: all .25s ease-in-out;
}

.shop-cart:hover button {
  background-color: rgba(96, 109, 166, 0.7);
  bottom: 35%;
  height: 50px;
  opacity: 1;
}

.shop-cart:hover button:hover {
  background-color: #606da6;
  opacity: 1;
}



.shop-cart .info .price {
  font-size: 19px;
  letter-spacing: 1px;

  font-family: Poppins !important;
}